body {
    font-family: 'Terminal', sans-serif;

}

.bar_code_font {
    font-family: 'barcode font', sans-serif;
}

.lines_font {
    font-family: 'DS-Terminal', sans-serif;
}

.bold_serif {
    font-family: 'Libre Bodoni', serif;
}

.content_serif {
    font-family: 'Jomolhari', serif;
}

.black_dropshadow {
    box-shadow: 8px 8px black;
}

.fancy_font {
    font-family: 'Lato', sans-serif;
}
.fancy_title {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.roman_font {
    font-family: 'Times New Roman', Times, serif;
}

.custom-scroll-area {
    scrollbar-color: transparent transparent;
}

.dorsa {
  font-family: "Dorsa", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.japanese {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.crisp {
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;

    /* Forces the browser to use "nearest neighbor" scaling */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}