body {
    font-family: 'Terminal', sans-serif;
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;

    /* Forces the browser to use "nearest neighbor" scaling */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.bar_code_font {
    font-family: 'barcode font', sans-serif;
}

.lines_font {
    font-family: 'DS-Terminal', sans-serif;
}

.bold_serif {
    font-family: 'Libre Bodoni', serif;
}

.content_serif {
    font-family: 'Jomolhari', serif;
}

.black_dropshadow {
    box-shadow: 1rem 1rem black;
}

.custom-scroll-area {
    scrollbar-color: transparent transparent;
}